<html>
  <body>
    <div class="container mt-3">
      <button (click)="getProductData()" class="btn btn-info">Get Product Data</button>
      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-3">
            Enter productId: <input type="text" #pId class="form-control">
          </div>
          <div class="col-3">
            Enter productName: <input type="text" #pName class="form-control">
          </div>
          <div class="col-3">
            Enter cost: <br><input type="text" #pCost class="form-control">
          </div>
          <div class="col-3">
            <button (click)="addProduct(pId.value, pName.value, pCost.value )" class="btn btn-info mt-4">Add</button>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-3">
            Search by ID: <br><input type="text" #pSearchId (keyup)="searchProductId(pSearchId.value)" class="form-control">
            <!-- <button (click)="searchProductId(pSearchId.value)" class="btn btn-info">Search</button> -->
          </div>
          <div class="col-3">
            Search by Name: <br><input type="text" #pSearchName (keyup)="searchProductName(pSearchName.value)"
              class="form-control">
            <!-- <button (click)="searchProductId(pSearchId.value)" class="btn btn-info">Search</button> -->
          </div>
          <div class="col-3">
            Delete by ID: <br><input type="text" #pDelete class="form-control">
          </div>
          <div class="col-3">
            <button (click)="deleteById(pDelete.value)" class="btn btn-info mt-4">Delete</button>
          </div>
        </div>
      </div>
      <br>



      <table class="table table-hover table-bordered m-t-4">
        <thead class="thead-dark">
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrProductObjs">
            <td>{{item.productId}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.cost}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container border mt-4">
      <app-child (messageToEmit)="getMessage($event)" (objToEmit)="getObject($event)" (arrToEmit)="getArray($event)" ></app-child>

      <p> Display message: {{strMsgFromChild}}</p>
      <p>Display object: id: {{first}}, name: {{sec}}</p>
      <p>Display array: {{fruits}}</p>

    </div>

  </body>
</html>
